name: Conditional Workflow
env:
  abc: true

on:
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    env:
      CONDITION_TO_WAIT_FOR_JOB1: 'true'
    outputs:
      condition: ${{ steps.set_condition.outputs.condition }}
    steps:
      - name: Determine Whether to Wait for Job1
        id: condition
        run: |
          if [ "$CONDITION_TO_WAIT_FOR_JOB1" == "true" ]; then
            export abc=true
            echo "::set-output name=condition::true"
          else
           export abc=false
            echo "::set-output name=condition::false"
          fi

  job2:
    runs-on: ubuntu-latest
    needs: job1
    if: ${{ env.abc == 'true' }}
    steps:
      - name: Step 2
        run: echo "This is Step 2"
